// Static styles - specificity (0,1,0) and higher.
.wp-block-spectra-countdown-child-day {
	color: inherit;
	gap: 0;

	// Dynamic styles - specificity (0,2,0) and higher.
	&[class*="wp-block"] {

		// The hover state for this block.
		&:hover {

			// Variable based CSS - Text Hover Color.
			&.spectra-text-color-hover {
				color: var(--spectra-text-color-hover) !important;
			}

			// Variable based CSS - Background Color Hover.
			&.spectra-background-color-hover {
				background: var(--spectra-background-color-hover) !important;
			}

			// Variable based CSS - Background Gradient Hover.
			&.spectra-background-gradient-hover {
				background: var(--spectra-background-gradient-hover) !important;
			}
		}
	}
}
