// Static styles - specificity (0,1,0) for default block CSS that should be overridable by Global Styles.
.wp-block-spectra-modal-child-icon {
	// Default CSS for this block.
	// Button reset for semantic <button> element.
	border: none;
	background: none;
	padding: 0;
	font: inherit;
	color: inherit;
	display: flex;
	align-items: center;
	justify-content: left;

	&:where(.is-hidden) {
		display: none;
	}

	// Anchors around the SVG.
	:where(a) {
		color: inherit;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// Span elements inside this block, if any.
	:where(span) {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	:where(svg) {
		cursor: pointer;
	}

	// Dynamic styles - specificity (0,2,0) and higher for block settings that should NOT be overridden by Global Styles.
	&[class*="wp-block"] {
		// Variable based CSS - Text Color.
		&.spectra-text-color {
			color: var(--spectra-text-color);
		}

		// The hover state for this block, or focus within for the anchor inside.
		&:hover,
		&:focus-within {
			// Variable based CSS - Text Color on Hover.
			&.spectra-text-color-hover {
				color: var(--spectra-text-color-hover) !important;
			}

			// Variable based CSS - Background Color on Hover.
			&.spectra-background-color-hover {
				background: var(--spectra-background-color-hover) !important;
			}

			// Variable based CSS - Background Gradient on Hover.
			&.spectra-background-gradient-hover {
				background: var(--spectra-background-gradient-hover) !important;
			}
		}
	}

	// Ensure custom SVG elements inherit color properly for both fill and stroke.
	&[class*="wp-block"].spectra-text-color svg.spectra-custom-svg {
		color: currentcolor;
	}

	// Ensure custom SVG elements inherit hover color properly for both fill and stroke.
	&[class*="wp-block"].spectra-text-color-hover:hover svg.spectra-custom-svg {
		color: currentcolor;
	}
}
