<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="Spectra Blocks Tests">
			<directory suffix="Test.php">./tests/phpunit/tests/</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./includes/</directory>
			<directory suffix=".php">./classes/</directory>
		</include>
	</coverage>
</phpunit>
