.size-2\.5 {
  width: 0.625rem;
  height: 0.625rem;
}

.spectra-blocks-remove-ring input[type="checkbox"],
.spectra-blocks-remove-ring a,
.spectra-blocks-remove-ring {
  outline: none !important;
  --tw-ring-shadow: 0 0 #0000 !important;
  --tw-ring-offset-shadow: 0 0 #0000 !important;
}
