.spectra-blocks-remove-ring input[type="checkbox"],
.spectra-blocks-remove-ring a,
.spectra-blocks-remove-ring {
  outline: none !important;
  --tw-ring-shadow: 0 0 #0000 !important;
  --tw-ring-offset-shadow: 0 0 #0000 !important;
}
